.header {
  text-align: center;
  padding: 80px 20px;
  background-color: #202020;
  color: #ffffff;
}
.header h1 {
  font-size: 3rem;
  color: #ffffff; /* שינה את הצבע ללבן */
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fade-in 1.5s ease-out forwards, subtle-glow 3s ease-in-out infinite;
}

.header h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 2px;
  background: linear-gradient(90deg, #ffffff, #cccccc);
  animation: underline-fade 2s ease-out forwards;
  opacity: 0;
}

@keyframes underline-fade {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 60%;
    opacity: 1;
  }
}

.header p {
  font-size: 1.2rem;
  color: #cccccc;
  margin-bottom: 20px;
}
.cta-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ffffff; /* שינה את הצבע לאור */
  color: #333333; /* טקסט כהה */
  border: 1px solid #333333; /* הוספת גבול כהה */
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  transition: all 0.5s ease-in-out;
  transform: skewX(-45deg);
}

.cta-button:hover::before {
  left: 100%;
}

.cta-button:hover {
  background-color: #f1f1f1; /* צבע רקע בהיר יותר בהרחף */
  color: #333333;
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}
